{% extends 'start.html' %}

{% block sertifikat %}
    <br><br><br><br>
    <div class="container">
        <form action="/sertifikat/print/" method="post" class="form-signin">
            {% csrf_token %}
            <h4>Оберіть студента:</h4>
            <label>
                <select size="1" name="student_name" id="student_name" class="form-control">
                    {% for i in student %}
                        <option value={{ i.student_kod }}>{{ i.student_lname }} {{ i.student_fname }}</option>
                    {% endfor %}
                </select>
            </label>
            <p><input type="submit" value="Роздрукувати" class="btn btn-default"></p>
        </form>
    </div>
{% endblock %}